.acc-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  width: 100vw;
}

.accordion {
  max-width: 500px;
  position: relative;
}

.item {
  background: #6e6b63;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: green solid 1px;
  border-radius: 10px;
  transition: max-height 0.3s ease-out;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* .info {
  border-radius: 5px;
  border: 1px solid red;
  padding: 4px;
} */
